// Styles for the app

@import 'colors';

//------------
// VARIABLES
//------------

// Actual primary/complementary colors
$compl-color: $neutral2;

$black-shade: #111;
$white-shade: #eee;

$prim-color: $white-shade;

// Semantic colors
$font-color: $white-shade;
$bg-color: $black-shade;

$hover-color: lighten($black-shade, 20%);
$link-color: darken($prim-color, 10%);
$link-color-visited: darken($link-color, 10%);

$success-color: #1e1;

// Defines how transparent text boxes look like
$text-bg-opacity: 0.6;
$top-menu-color: rgba(100, 100, 100, $text-bg-opacity);

$top-menu-color: rgba(40, 40, 40, 0.7);

$active-tab-color: lighten($black-shade, 20%);

$border-color: $white-shade;

$font-step: 4px;
$font-size-large: 20px;
$font-size-medium: $font-size-large - $font-step;
$font-size-small: $font-size-medium - $font-step;

//---------
// MIXINS
//---------

@mixin text-box-bx {
    background-color: $top-menu-color;
}

@mixin bg($color) {
    background-color: $color;
}

@mixin btn-colors {
    background-color: $black-shade;
    color: $white-shade;
}

@mixin btn-colors-hover {
    background-color: lighten($black-shade, 20%);
    color: $black-shade;
}

@mixin btn-borders {
    border: 1px solid $border-color;
    border-radius: 3px;
}

@mixin book-item-borders {
    border: 1px solid $border-color;
    border-radius: 10px;
}

@mixin book-item-margins {
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 10px;
}

//-----------
// ELEMENTS
//-----------

h1 {
    color: $prim-color;
    font-size: 50px;
    margin-left: 50px;
}

body {
    @include bg($bg-color);
    color: $font-color;
    font-size: $font-size-medium;
}

input {
    color: $compl-color;
}

a {
    color: $link-color;

    a:visited {
        color: $link-color-visited;
    }
}

ul {

    .footer-links {
        display: inline;
        padding-left: 0;
    }

}


//--------------------------------
// Reusable classes
//--------------------------------

// Use this for all buttons
.books-btn {
    @include btn-colors;
    @include btn-borders;

    padding: 5px 10px;
}

.books-btn:hover {
    @include btn-colors-hover;
}

.bg-well {
    @include text-box-bx;
}

.top-menu {
    @include text-box-bx;
    padding: 6px 4px;

    li {
        display: inline;
        margin-right: 15px;
    }
}

.wait-search-icon {
    margin-top: 5px;
}

//-------------------------------
// Selection tab in the profile
//-------------------------------

.tab-sel-active {
    background-color: $active-tab-color;
    border-radius: 10px 10px 0 0;
    color: $white-shade;
}

.tab-sel-inactive {
    border-radius: 10px 10px 0 0;
    color: $black-shade;
}

.tab-sel-inactive:hover {
    background-color: $n1-light;
    color: $white-shade;
}

//-------------------------------
// Text styling
//-------------------------------
.text-success {
    color: $success-color;
}

.text-danger {
    color: $danger-color;
}

//-------------------
// BOOK ITEM STYLING
//-------------------

.book-item-thumb {
    margin: auto 0;
}

//-----------------
// BOOKS LIST VIEW
//-----------------

// Use this when multiple books are shown on the same row
.book-list-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


// Item shown in Books list (not used in profile)
.books-book-item {
    @include text-box-bx;
    @include book-item-borders;
    @include book-item-margins;

    flex: 1;

    .book-item-li {
        font-size: $font-size-small;
    }

    :hover {
        @include bg($hover-color);
    }

}

.books-tab {
}


//--------------
// PROFILE VIEW
//--------------

.prof-req-list-div {
}

.prof-req-list-top {
}

.prof-book-list {
}

.prof-book-item {
    @include text-box-bx;
    @include book-item-borders;
    @include book-item-margins;

    font-size: $font-size-small;

    .book-item {
        display: flex;

    }
}



.prof-req-list-ul {

}

.prof-req-list-li {
    @include text-box-bx;
    @include book-item-borders;
    @include book-item-margins;
}

.modal {
    color: $black-shade;
}

.modal-body {
    color: $black-shade;
    margin: 10px 0;
}

.search-view {
    margin-top: 10px;
}

.books-form-group {
    margin-left: 20px;

}

.books-contact-input {
    margin-left: 10px;
    max-width: 300px;
}


//--------------
// FOOTER
//--------------

.author-p {
    @include text-box-bx;
}

.footer-link-icon {
    display: inline;
    margin-right: 10px;
}

