// Styles for the app

@import 'colors';

//------------
// VARIABLES
//------------

$color: $neutral1;
$compl-color: $neutral2;

$font-color: #000;

$active-tab-color: lighten($neutral1, 20%);

$border-color: #000;

$font-step: 4px;
$font-size-large: 20px;
$font-size-medium: $font-size-large - $font-step;
$font-size-small: $font-size-medium - $font-step;

//---------
// MIXINS
//---------

@mixin bg($color) {
    background-color: $color;
}

button {
    color: $compl-color;
}

body {
    @include bg($compl-color);
    color: $font-color;
    font-size: $font-size-large;
}

input {
    color: $compl-color;
}

a {
    color: $color;

    :visited {
        color: $color;
    }

}

.menu {
    display: inline;

}

.top-menu {
    padding-left: 0;

    li {
        display: inline;
        margin-right: 15px;
    }
}

ul {

    .footer-links {
        display: inline;
        padding-left: 0;
    }

    .top-menu {

        a {
            color: $color;

            :visited {
                color: $color;
            }

        }
    }

}

.wait-search-icon {
    margin-top: 5px;

}

.tab-sel-active {
    background-color: $active-tab-color;
    border-radius: 10px 10px 0 0;
}

.tab-sel-inactive {
}

//-------------------
// BOOK ITEM STYLING
//-------------------

.book-item-thumb {

}

.book-item-ul {
    display: flex;
    padding-top: 5px;
}

.book-item-li {
    display: inline;

    ul {
        li {
            list-style-type: none;
        }
    }
}


//-----------------
// BOOKS LIST VIEW
//-----------------

.book-list-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.books-book-item {
    border: 1px solid $border-color;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3px;

    .book-item-li {
        font-size: $font-size-small;
    }

}

.books-req-btn {
    align-self: flex-start;
}


//--------------
// PROFILE VIEW
//--------------

.prof-req-list-div {

}

.prof-book-list {
    display: flex;
    flex-wrap: wrap;

}

.prof-book-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: $font-size-small;
    justify-content: flex-end;

    button {
        align-self: flex-start;
    }
}

.prof-req-list-ul {

}

.prof-req-list-li {

}

//--------------
// FOOTER
//--------------

.footer-link-icon {
    display: inline;
    margin-right: 10px;
}

