//- File which is for /about requests.

include mixins.pug

doctype html
html
  +pageHead("About")

  body
    +layoutBase()
      +appTitle()
      +topMenu("about")

      h2 About

      div.main
        p
          | Bookclub coordination app for 
          a(href="http://www.freecodecamp.com") FreeCodeCamp 
          | fullstack projects.
        p
          | You can search for books and add them to your profile for trading, 
          | and you can request books added by other users for trade.
        p
          | You can access the full source code of the project from 
          a(href="http://www.github/tpoikela/fcc-bookclub") GitHub.
        p
          | This page uses 
          a(href="https://developers.google.com/books/") Google Books API. 

      +appFooter()
