//- Main page of the app. Rendered HTML is decided by user login status

include mixins.pug

doctype html
html
  +pageHead("Home")

  body
    +layoutBase()
      +appTitle()
      +topMenu("index")

      .bg-well
        p
          | Join a community of thousands of users and find new books to trade.
        - if (isAuth) {
          p
            | Go to 
            a(href='/profile') 'Profile' 
            | to add books into your profile. From 
            a(href='/allbooks') 'Books' 
            | you can view all books added by other users, and you can make trade
            | requests.
        - }
      div#main-app
      +appFooter()

    script(type="text/javascript" src="/build/bundle.js" charset="utf-8")
